@import "tailwindcss";
@import "@fontsource-variable/dm-sans";
@import "@fontsource/barlow";

@theme {
  --font-sans: "DM Sans Variable", "Barlow", sans-serif;

  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-2xl: 3rem;
  --spacing-3xl: 4rem;


  --color-primary-lighter: #c8facd;
  --color-primary-light: #5be584;
  --color-primary: #00ab55;
  --color-primary-dark: #007b55;
  --color-primary-darker: #005249;

  --color-secondary-lighter: #d6e4ff;
  --color-secondary-light: #84a9ff;
  --color-secondary: #3366ff;
  --color-secondary-dark: #1939b7;
  --color-secondary-darker: #091a7a;

  --color-info-lighter: #cafdf5;
  --color-info-light: #61f3f3;
  --color-info: #00b8d9;
  --color-info-dark: #006c9c;
  --color-info-darker: #003768;

  --color-success-lighter: #d8fbde;
  --color-success-light: #86e8ab;
  --color-success: #36b37e;
  --color-success-dark: #1b806a;
  --color-success-darker: #0a5554;

  --color-warning-lighter: #fff5cc;
  --color-warning-light: #ffd666;
  --color-warning: #ffab00;
  --color-warning-dark: #b76e00;
  --color-warning-darker: #7a4100;

  --color-error-lighter: #ffe9d5;
  --color-error-light: #ffac82;
  --color-error: #ff5630;
  --color-error-dark: #b71d18;
  --color-error-darker: #7a0916;

  --shadow-sm: 0px 1px 2px rgba(145, 158, 171, 0.2);
  --shadow-md: 0px 2px 4px rgba(145, 158, 171, 0.2);
  --shadow-lg: 0px 4px 8px rgba(145, 158, 171, 0.2);
}


